<h5 class="mb-3">Cadastro de tabelas de preços</h5>
<div>
  <form *ngIf="tabelaPrecosForm" [formGroup]="tabelaPrecosForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col" style="width: 50%">
        <div class="row">
          <mat-form-field appearance="outline" *ngIf="produto" style="width: 90%">
            <mat-label>Produto</mat-label>
            <input matInput disabled [value]="produto.descricao">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" style="width: 90%">
            <mat-label>Descrição</mat-label>
            <input matInput disabled formControlName="descricao">
            <mat-error *ngIf="!tabelaPrecosForm.get('descricao').valid">Informe uma descrição para a tabela de preços
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-checkbox formControlName="ativa">Em uso</mat-checkbox>
        </div>
      </div>
      <div class="col" style="width: 50%">
        <div class="row mb-3">
          Faixas etárias
        </div>
        <div class="row">
          <div formArrayName="precos" style="float: left; width: 50%;"
               *ngFor="let preco of tabelaPrecosForm.get('precos').controls; let i = index">
            <div [formGroupName]="i">
              <mat-form-field appearance="outline">
                <mat-label>{{ preco.get('faixa_etaria.descricao').value }}</mat-label>
                <input matInput placeholder="0,00" currencyMask formControlName="preco"
                       [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}">
                <mat-error *ngIf="!preco.get('preco').valid">Informe o preço</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
      <div class="col-1">
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
