<h4 class="mb-3">Produtos</h4>
<div class="row">
  <div class="mat-elevation-z8" style="width: 100%">
    <div class="row mt-2 ml-2">
      <div class="col">
        <mat-form-field style="width: 50%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar por produto...">
        </mat-form-field>
      </div>
      <div class="col-auto m-2">
        <button mat-raised-button color="primary" (click)="novo()">Adicionar novo produto</button>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
      <ng-container matColumnDef="operadora.nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Operadora</th>
        <td mat-cell *matCellDef="let produto">{{produto.operadora.nome}}</td>
      </ng-container>
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição do produto</th>
        <td mat-cell *matCellDef="let produto">{{produto.descricao}}</td>
      </ng-container>
      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let produto">{{produto.ativo ? 'Ativo' : 'Inativo'}}</td>
      </ng-container>
      <ng-container matColumnDef="editar" stickyEnd>
        <th mat-header-cell *matHeaderCellDef >Editar</th>
        <td mat-cell *matCellDef="let produto">
          <button mat-raised-button color="accent" (click)="editar(produto.id)">Editar</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </div>
</div>
