<h5 class="mb-3">Cadastro de produtos</h5>
<div>
  <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col" formGroupName="operadora">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Operadora</mat-label>
          <mat-select formControlName="id">
            <mat-option *ngFor="let operadora of operadoras" [value]="operadora.id">
              {{operadora.nome}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!produtoForm.get('operadora.id').valid">Selecione uma operadora.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
          <mat-error *ngIf="!produtoForm.get('nome').valid">Informe o nome para produto.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-auto">
        <mat-form-field appearance="outline">
          <mat-label>Vidas</mat-label>
          <input matInput formControlName="vidas" type="number" min="1" max="6">
          <mat-error *ngIf="!produtoForm.get('vidas').valid">Informe o número de vidas.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <mat-label>Acomodação:</mat-label>
      </div>
      <div class="col-auto">
          <mat-radio-group formControlName="acomodacao">
            <mat-radio-button value="APARTAMENTO" class="mr-2">
              Apartamento
            </mat-radio-button>
            <mat-radio-button value="ENFERMARIA" class="mr-2">
              Enfermaria
            </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="!produtoForm.get('acomodacao').valid && produtoForm.touched">
            <span style="font-size: 12px">Informe a acomodação.</span>
          </mat-error>
      </div>
      <div class="col-auto ml-3">
        <mat-checkbox formControlName="obstetricia_inclusa">Obstetrícia Inclusa</mat-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <mat-checkbox formControlName="ativo">Ativo</mat-checkbox>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-1">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
      <div class="col-1">
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
