<h5 class="mb-3">Pesquisar vendas</h5>
<div>
  <form [formGroup]="buscaVendaForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-2">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Adesão</mat-label>
          <input matInput formControlName="adesao" mask='0*'>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Data de início</mat-label>
          <input matInput formControlName="data_inicio" [matDatepicker]="dataInicio" placeholder="dd/mm/aaaa" required
                 [max]="hoje">
          <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
          <mat-datepicker #dataInicio></mat-datepicker>
          <mat-error *ngIf="!buscaVendaForm.get('data_inicio').valid">
            Informe data inicial da pesquisa.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Data final</mat-label>
          <input matInput formControlName="data_fim" [matDatepicker]="dataFim" placeholder="dd/mm/aaaa" required
                 [max]="hoje">
          <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
          <mat-datepicker #dataFim></mat-datepicker>
          <mat-error *ngIf="!buscaVendaForm.get('data_fim').valid">
            Informe data final da pesquisa.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Vendedor</mat-label>
          <mat-select formControlName="vendedor_id">
            <mat-option>Todos</mat-option>
            <mat-option *ngFor="let vend of vendedores" [value]="vend.id">
              {{vend.pessoa_fisica.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-2">
        <button mat-raised-button color="primary" type="submit">Pesquisar</button>
      </div>
    </div>
  </form>
</div>
<div>
  <div class="row mt-2 ml-2">
    <div class="col">
      <mat-form-field style="width: 50%">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar por...">
      </mat-form-field>
    </div>
    <div class="col-auto m-2">
      <button mat-raised-button color="primary" (click)="novo()">Adicionar nova venda</button>
    </div>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
      <ng-container matColumnDef="operadora">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Operadora</th>
        <td mat-cell *matCellDef="let venda">{{venda.operadora}}</td>
      </ng-container>
      <ng-container matColumnDef="produto">
        <th mat-header-cell *matHeaderCellDef>Produto</th>
        <td mat-cell *matCellDef="let venda">{{venda.produto}}</td>
      </ng-container>
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data da venda</th>
        <td mat-cell *matCellDef="let venda">{{venda.data | date: 'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="adesao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Adesão</th>
        <td mat-cell *matCellDef="let venda">{{venda.adesao}}</td>
      </ng-container>
      <ng-container matColumnDef="titular">
        <th mat-header-cell *matHeaderCellDef>Titular</th>
        <td mat-cell *matCellDef="let venda">{{venda.titular}}</td>
      </ng-container>
      <ng-container matColumnDef="vidas">
        <th mat-header-cell *matHeaderCellDef>Vidas</th>
        <td mat-cell *matCellDef="let venda">{{venda.vidas}}</td>
      </ng-container>
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef style="text-align: right">Valor</th>
        <td mat-cell *matCellDef="let venda" style="text-align: right">{{venda.valor | currency:'BRL':''}}</td>
      </ng-container>
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">Editar</th>
        <td mat-cell *matCellDef="let venda" style="text-align: center">
          <button mat-raised-button color="accent" (click)="editar(venda.adesao)">Editar</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </div>
</div>
