<h5 class="mb-3">Cadastro de operadoras</h5>
<div>
  <form [formGroup]="operadoraForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" style="width: 60%">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        <mat-error *ngIf="!operadoraForm.get('nome').valid">Informe o nome para a operadora.</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-checkbox formControlName="ativo">Ativa</mat-checkbox>
    </div>
    <div class="row mt-3">
      <div class="col-1">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
      <div class="col-1">
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
