<!-- <button mat-button>Acesso</button> -->
<button mat-button [matMenuTriggerFor]="menu">Manutenções</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="irPara(['operadoras'])">Operadoras</button>
  <button mat-menu-item (click)="irPara(['produtos'])">Produtos</button>
  <button mat-menu-item (click)="irPara(['tabelas-precos'])">Tabelas de preços</button>
  <button mat-menu-item (click)="irPara(['vendedores'])">Vendedores</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menu_venda">Vendas</button>
<mat-menu #menu_venda="matMenu">
  <button mat-menu-item (click)="irPara(['vendas'])">Pesquisar</button>
  <button mat-menu-item (click)="irPara(['vendas','novo'])">Cadastrar</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menu_relatorio">Relatórios</button>
<mat-menu #menu_relatorio="matMenu">
  <button mat-menu-item (click)="irPara(['relatorios','vendas'])">Vendas por período</button>
  <button mat-menu-item (click)="irPara(['relatorios','vendedor'])">Vendas por vendedor</button>
</mat-menu>
