<h5 class="mb-3">Cadastro de vendas</h5>
<div>
  <form [formGroup]="vendaForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-auto">
        <mat-form-field appearance="outline">
          <mat-label>Data de venda</mat-label>
          <input matInput formControlName="data" [matDatepicker]="dataVenda" placeholder="dd/mm/aaaa" required
                 [max]="hoje">
          <mat-datepicker-toggle matSuffix [for]="dataVenda"></mat-datepicker-toggle>
          <mat-datepicker #dataVenda></mat-datepicker>
          <mat-error *ngIf="!vendaForm.get('data').valid">
            Informe data da venda.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-auto">
        <mat-form-field appearance="outline">
          <mat-label>Adesão</mat-label>
          <input matInput formControlName="adesao" mask='0*' required>
          <mat-error *ngIf="!vendaForm.get('adesao').valid">Informe o número da adesão.</mat-error>
        </mat-form-field>
      </div>
      <div class="col" formGroupName="vendedor">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Vendedor</mat-label>
          <mat-select formControlName="id" required>
            <mat-option *ngFor="let vend of vendedores" [value]="vend.id">
              {{vend.pessoa_fisica.nome}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!vendaForm.get('vendedor.id').valid">Selecione um vendedor.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-auto" formGroupName="operadora">
        <mat-form-field appearance="outline" >
          <mat-label>Operadora</mat-label>
          <mat-select (selectionChange)="carregarProdutos($event.value, null)" required formControlName="id">
            <mat-option *ngFor="let operadora of operadoras" [value]="operadora.id">
              {{operadora.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col" formGroupName="produto">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Produto</mat-label>
          <mat-select formControlName="id" style="width: 100%" (selectionChange)="atualizarProduto($event.value)"
                      required>
            <mat-option *ngFor="let prod of produtos" [value]="prod.id">
              {{prod.descricao}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!vendaForm.get('produto.id').valid">Selecione uma operadora e informe o produto.</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <h6>Responsável</h6>
      </div>
    </div>
    <div class="row" formGroupName="responsavel">
      <div class="col-lg">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" required>
          <mat-error *ngIf="!vendaForm.get('responsavel.nome').valid">Informe o nome.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" mask='000.000.000-00' required>
          <mat-error *ngIf="!vendaForm.get('responsavel.cpf').valid">Informe o CPF.</mat-error>
        </mat-form-field>
      </div>
      <div formArrayName="telefones" class="col-2"
           *ngFor="let telefone of vendaForm.get('responsavel.telefones').controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{ 'Telefone nº' + (i+1) }}</mat-label>
            <input matInput formControlName="numero" mask='(00) 00000-0009' placeholder="(__) _____-_____">
            <mat-error *ngIf="!telefone.get('numero').valid">Informe um número de telefone válido.</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <h6>Beneficiários</h6>
      </div>
    </div>
    <div formArrayName="beneficiarios"
         *ngFor="let beneficiario of vendaForm.get('beneficiarios').controls; let i = index">
      <div [formGroupName]="i" class="row">
        <div class="col-lg">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{ beneficiario.get('e_titular').value ? 'Titular' : 'Dependente'}}</mat-label>
            <input matInput formControlName="nome" required>
            <mat-error *ngIf="!beneficiario.get('nome').valid">Informe o nome.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" mask='000.000.000-00' required>
            <mat-error *ngIf="!beneficiario.get('cpf').valid">Informe o CPF.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Data Nasc.</mat-label>
            <input matInput formControlName="data_nascimento" [matDatepicker]="dataNascimento" placeholder="dd/mm/aaaa"
                   (dateChange)="obterPreco(beneficiario)" required [max]="hoje">
            <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
            <mat-datepicker #dataNascimento></mat-datepicker>
            <mat-error *ngIf="!beneficiario.get('data_nascimento').valid">
              Informe a data de nasc.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-1">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Idade</mat-label>
            <input matInput formControlName="idade" readonly/>
          </mat-form-field>
        </div>
        <div class="col-2">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Valor</mat-label>
            <input matInput placeholder="0,00" currencyMask  formControlName="preco" readonly
                   [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}"/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row mb-3" *ngIf="adicionarDependenteHabilitado || removerDependenteHabilitado">
      <div class="col-auto" *ngIf="adicionarDependenteHabilitado">
        <button mat-raised-button (click)="adicionarDependente()">Adicionar Dependente</button>
      </div>
      <div class="col-auto" *ngIf="removerDependenteHabilitado">
        <button mat-raised-button (click)="removerDependente()">Remover Dependente</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <mat-form-field appearance="outline" style="width: 90%">
          <mat-label>Observação</mat-label>
          <textarea matInput formControlName="observacao"></textarea>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Total</mat-label>
          <input matInput placeholder="0,00" currencyMask  formControlName="total" readonly
                 [options]="{prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false}"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-1">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
      <div class="col-1">
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
