<h5 class="mb-3">Cadastro de vendedores</h5>
<div>
  <form [formGroup]="vendedorForm" (ngSubmit)="onSubmit()">
    <div formGroupName="pessoa_fisica">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
            <mat-error *ngIf="!vendedorForm.get('pessoa_fisica.nome').valid">Informe o nome do vendedor.</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf" mask='000.000.000-00'>
            <mat-error *ngIf="!vendedorForm.get('pessoa_fisica.cpf').valid">Informe o CPF.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-auto">
          <mat-form-field appearance="outline">
            <mat-label>Data de nascimento</mat-label>
            <input matInput formControlName="data_nascimento" [matDatepicker]="dataDascimento" placeholder="Data de nascimento">
            <mat-datepicker-toggle matSuffix [for]="dataDascimento"></mat-datepicker-toggle>
            <mat-datepicker #dataDascimento></mat-datepicker>
            <mat-error *ngIf="!vendedorForm.get('pessoa_fisica.data_nascimento').valid">
              Informe data de nascimento.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="!vendedorForm.get('pessoa_fisica.email').valid">Email inválido.</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <mat-checkbox formControlName="ativo">Ativo</mat-checkbox>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-1">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
      </div>
      <div class="col-1">
        <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
