<h4 class="mb-3">Vendedores</h4>
<div class="row">
  <div class="mat-elevation-z8" style="width: 100%">
    <div class="row mt-2 ml-2">
      <div class="col">
        <!--
        <mat-form-field style="width: 50%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar...">
        </mat-form-field>
        -->
      </div>
      <div class="col-auto m-2">
        <button mat-raised-button color="primary" (click)="novo()">Adicionar novo vendedor</button>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
      <ng-container matColumnDef="pessoa_fisica.nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let vendedor">{{vendedor.pessoa_fisica.nome}}</td>
      </ng-container>
      <ng-container matColumnDef="pessoa_fisica.data_nascimento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de nascimento</th>
        <td mat-cell *matCellDef="let vendedor">{{vendedor.pessoa_fisica.data_nascimento | date: 'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let vendedor">{{vendedor.ativo ? 'Ativo' : 'Inativo'}}</td>
      </ng-container>
      <ng-container matColumnDef="editar" >
        <th mat-header-cell *matHeaderCellDef >Editar</th>
        <td mat-cell *matCellDef="let vendedor">
          <button mat-raised-button color="accent" (click)="editar(vendedor.id)">Editar</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
  </div>
</div>
