<h5 class="mb-3">Relatório - Vendas por Operadora</h5>
<form [formGroup]="relatorioVendaForm" (ngSubmit)="consultar()">
  <div class="row" style="width: 100%">
    <div class="col-3">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Data de início</mat-label>
        <input matInput formControlName="data_inicio" [matDatepicker]="dataInicio" placeholder="dd/mm/aaaa" required
               [max]="hoje">
        <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
        <mat-datepicker #dataInicio></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Data final</mat-label>
        <input matInput formControlName="data_fim" [matDatepicker]="dataFim" placeholder="dd/mm/aaaa" required
               [max]="hoje">
        <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
        <mat-datepicker #dataFim></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button mat-raised-button color="primary" type="submit">Consultar</button>
    </div>
  </div>
</form>
<div>
  <h6 class="mb-3 mt-4">Vendas por operadora</h6>
  <div class="row">
    <div class="col-12">
      <div class="mat-elevation-z8">
        <table mat-table *ngIf="dataSourceVendasPorOperadora" [dataSource]="dataSourceVendasPorOperadora"
               style="width: 100%">
          <ng-container matColumnDef="operadora">
            <th mat-header-cell *matHeaderCellDef>Operadora</th>
            <td mat-cell *matCellDef="let result"> {{result.operadora}}</td>
          </ng-container>
          <ng-container matColumnDef="vendedor">
            <th mat-header-cell *matHeaderCellDef>Vendedor</th>
            <td mat-cell *matCellDef="let result"> {{result.vendedor}}</td>
          </ng-container>
          <ng-container matColumnDef="total_vendas">
            <th mat-header-cell *matHeaderCellDef>Nº de Vendas</th>
            <td mat-cell *matCellDef="let result"> {{result.total_vendas}}</td>
          </ng-container>
          <ng-container matColumnDef="valor_total" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let result">{{result.valor_total | currency:'BRL':''}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="vendasPorOperadoraColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: vendasPorOperadoraColumnsToDisplay"></tr>
        </table>
      </div>
    </div>
  </div>
  <h6 class="mb-3 mt-4">Vendas Totais</h6>
  <div class="row">
    <div class="col-12">
      <div class="mat-elevation-z8">
        <table mat-table *ngIf="dataSourceVendasTotais" [dataSource]="dataSourceVendasTotais"
               style="width: 100%">
          <ng-container matColumnDef="vendedor">
            <th mat-header-cell *matHeaderCellDef>Vendedor</th>
            <td mat-cell *matCellDef="let result"> {{result.vendedor}}</td>
          </ng-container>
          <ng-container matColumnDef="total_vendas">
            <th mat-header-cell *matHeaderCellDef>Nº de Vendas</th>
            <td mat-cell *matCellDef="let result"> {{result.total_vendas}}</td>
          </ng-container>
          <ng-container matColumnDef="valor_total" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let result">{{result.valor_total | currency:'BRL':''}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="vendasTotaisColumnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: vendasTotaisColumnsToDisplay"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
