<h5 class="mb-3">Tabelas de preços</h5>
<div class="row">
  <div class="col-auto">
    <mat-form-field appearance="outline">
      <mat-label>Operadora</mat-label>
      <mat-select (selectionChange)="carregarProdutos($event.value)">
        <mat-option *ngFor="let operadora of operadoras" [value]="operadora">
          {{operadora.nome}}
        </mat-option>
      </mat-select>
      <mat-hint>Selecione uma operadora...</mat-hint>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Produto</mat-label>
      <mat-select (selectionChange)="carregarTabelasPrecos($event.value)" style="width: 100%">
        <mat-option *ngFor="let produto of produtos" [value]="produto">
          {{produto.descricao}}
        </mat-option>
      </mat-select>
      <mat-hint>Selecione um produto...</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-auto">
    <button mat-raised-button color="primary" [disabled]="!produtoSelecionado" (click)="novo()">
      Adicionar nova tabela de preços
    </button>
  </div>
</div>
<div *ngIf="produtoSelecionado">
  <h6 class="mb-3 mt-4">Tabelas de preços cadastradas</h6>
  <div class="row">
    <div class="col-12">
      <div class="mat-elevation-z8">
        <table mat-table *ngIf="dataSource" [dataSource]="dataSource" style="width: 100%">
          <ng-container matColumnDef="data_criacao">
            <th mat-header-cell *matHeaderCellDef>Data de criação</th>
            <td mat-cell *matCellDef="let tabelaPrecos"> {{tabelaPrecos.data_criacao}}</td>
          </ng-container>
          <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef>Descrição</th>
            <td mat-cell *matCellDef="let tabelaPrecos"> {{tabelaPrecos.descricao}}</td>
          </ng-container>
          <ng-container matColumnDef="ativa">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let tabelaPrecos"> {{tabelaPrecos.ativa ? 'Em uso' : '-'}}</td>
          </ng-container>
          <ng-container matColumnDef="editar" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef>Editar</th>
            <td mat-cell *matCellDef="let tabelaPrecos">
              <button mat-raised-button color="accent" (click)="editar(tabelaPrecos.id)">Editar</button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
