<h4 class="mb-3">Operadoras</h4>
<div class="row">
  <div class="mat-elevation-z8" style="width: 100%">
    <div class="row mt-2 ml-2">
      <div class="col">
        <mat-form-field style="width: 50%">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar por...">
        </mat-form-field>
      </div>
      <div class="col-auto m-2">
        <button mat-raised-button color="primary" (click)="novo()">Adicionar nova operadora</button>
      </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
        <td mat-cell *matCellDef="let operadora"> {{operadora.nome}}</td>
      </ng-container>
      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let operadora"> {{operadora.ativo ? 'Ativa' : 'Inativa'}}</td>
      </ng-container>
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let operadora">
          <button mat-raised-button color="accent" (click)="editar(operadora.id)">Editar</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
  </div>
</div>
