<h5 class="mb-3">Relatório - Vendas por Operadora</h5>
<form [formGroup]="relatorioVendedorForm" (ngSubmit)="consultar()">
  <div class="row" style="width: 100%">
    <div class="col-3">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Data de início</mat-label>
        <input matInput formControlName="data_inicio" [matDatepicker]="dataInicio" placeholder="dd/mm/aaaa" required
               [max]="hoje">
        <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
        <mat-datepicker #dataInicio></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Data final</mat-label>
        <input matInput formControlName="data_fim" [matDatepicker]="dataFim" placeholder="dd/mm/aaaa" required
               [max]="hoje">
        <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
        <mat-datepicker #dataFim></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-4" formGroupName="vendedor">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Vendedor</mat-label>
        <mat-select formControlName="id">
          <mat-option>Todos</mat-option>
          <mat-option *ngFor="let vend of vendedores" [value]="vend.id">
            {{vend.pessoa_fisica.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button mat-raised-button color="primary" type="submit">Gerar relatório</button>
    </div>
  </div>
</form>
